.header{
  width:100%;
  height:10%;
  margin: 0px;
  background:linear-gradient(to right , #F7BC3C 40%,#FF3131);
  border-bottom-left-radius:  25px;
  border-bottom-right-radius:  25px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.250) ;
  border: 2px solid black;
}
.footer{
  width:100%;
  height:12%;
  margin: 0px;
  background:linear-gradient(to right , #F7BC3C 40%,#FF3131);
  border-top-left-radius:  25px;
  border-top-right-radius:  25px;
  border: 2px solid black;
}   